@import url('https://fonts.googleapis.com/css?family=Dosis|Gugi');

html {
    scroll-behavior: smooth;
}

body {
    color: rgb(250, 250, 250);
    font-family: 'Gugi', cursive;
    margin: 0;
    background-image: url("./background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 3;

    background:
       radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%)
       left
       bottom
       rgba(29, 30, 37, 0.93) 
       no-repeat;
   background-size: 100% 2px;
}
  
#navbar a {
    display: block;
    padding: 25px 30px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#navbar a:hover {
    font-size: 25px;
    padding: 20px 30px;
    cursor: pointer;
}
 
#welcome-section {
    height: 70vh;
    padding-top: 35vh;
    padding-left: 15vw;
    padding-right: 10vw;
    text-align: left;
}

h1, h2 {
    text-shadow: 2px 2px 1px rgb(20, 20, 20);
}

h3, footer p {
    text-shadow: 1px 1px 1px rgb(10, 10, 10);
}

#x4 {
    padding-top: 8px;
}

#welcome-section h3 {
    font-size: 20px;
    color: rgb(230, 230, 230);
}

/* CSS animations */
@keyframes animation1 {
    50%  {opacity: 0.5;}
    100% {opacity: 1;}
}

#x1 {
    animation-name: animation1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.5s;
    opacity: 0;
}

#x2 {
    animation-name: animation1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1.7s;
    opacity: 0;
}

#x3 {
    animation-name: animation1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 2.7s;
    opacity: 0;
}

#x4 {
    animation-name: slide-left;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 3s;
    opacity: 0;
    animation-timing-function: ease-out;
}

@keyframes slide-left {
    from {
        margin-left: 100%;
        width: 300%;
        opacity: 1;
    }
    to {
        margin-left: 0%;
        width: 100%;
        opacity: 1;
    }
}

#welcome-section img {
    height: 190px;
    width: auto;
    padding-bottom: 100px;
    float: left;
    display: block;
    -webkit-filter: drop-shadow(9px 9px 7px rgba(190, 190, 190, 0.6));
}

#projects-section {
    padding-top: 150px;
    display: block;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 5%;
}

.projects-container > div {
    width: 380px;
    position: relative;
    padding: 10px 15px 35px 15px;
    margin-top: 40px;
}

#projects-section .table {
    width: 100%;
    display: table;
}

.projects-container {
    background-color: rgba(29, 30, 37, 0.6);
    width: 90%;
    margin: 70px auto;
    padding: 0px 0px 70px 0px;
}

#projects-section h4 {
    font-size: 20px;
    height: 70px;
    width: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#projects-section img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: solid;
    border-color: rgb(29, 30, 37);
}

#projects-section p {
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    margin-top: 12px;
    margin-bottom: 8px;
    color: rgb(230, 230, 230);
}

.technology-badges {
    margin-top: 12px;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
 
.badge {
    text-align: center;
    background-color: rgb(163, 107, 221);
    color: white;
    border-radius: 7px;
    font-size: 12px;
    padding: 7px;
    margin: 5px 4px;
}

.backend {
    background-color: #69b07c;
    color: white;
}

#contact-section {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 10px;
    height: 70vh;
    margin-top: 70px;
}

.contact-icons a i {
    font-size: 90px;
    padding: 0px 25px 50px 25px;
}

.fab:hover, .fas:hover {
    color: rgb(250, 250, 250);
    cursor: pointer;
    text-shadow: 8px 8px 8px rgba(20, 20, 20, 0.8);
}

.contact-icons {
    padding-top: 30px;
}

.contact-icons a {
    color: black;
    text-shadow: 8px 8px 10px rgba(220, 220, 220, 0.7);
}

a {
    color: rgb(250, 250, 250);
    text-decoration: none;
}

footer {
    text-align: center;
    margin-bottom: 13px;
    font-size: 18px;
}

footer p a:hover {
    color: rgb(205, 126, 207);
}

h2 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 26px;
}

hr {
    border-style: none;
    width: 60%;
    height: 4px;
    background-image: linear-gradient(70deg,#0ebeff,#ffdd40,#ae63e4,#47cf73);
    margin: 5px auto 20px auto;
}

.color1 {
    color: rgb(84, 188, 249)
}

.color2 {
    color: rgb(250, 220, 96)
}

.color3 {
    color: rgb(104, 187, 116)
}

.color4 {
    color: rgb(255, 182, 193)
}

#welcome-section h3, #projects-section p {
    font-family: 'Dosis', sans-serif;
}

@media only screen and (max-width: 1000px) {
    #navbar a {
        padding: 25px 15px;
        font-size: 20px;
    }

    #welcome-section {
        padding-left: 5vw;
        padding-right: 8vw;
    }
}

@media only screen and (max-width: 530px) {
    #welcome-section {
        padding-top: 20vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    #welcome-section img {
        height: 120px;
        padding-bottom: 35px;
        float: none;
        margin: 0 auto;
    }

    #welcome-section h1 {
        font-size: 26px;
    }

    #welcome-section h3 {
        font-size: 19px;
    }
}

@media only screen and (max-width: 350px) {
    #navbar a {
        font-size: 16px;
    }

    #navbar a:hover {
        font-size: 20px;
    }

    #welcome-section img {
        height: 100px;
        padding-top: 15px;
    }

    #welcome-section h1 {
        font-size: 23px;
    }

    #welcome-section h3 {
        font-size: 17px;
    }

    #contact-section {
        height: 65vh;
    }

    .contact-icons a i {
        font-size: 60px;
    }

    h2 {
        font-size: 23px;
    }

    footer {
        font-size: 15px;
    }
}
