@import url('https://fonts.googleapis.com/css?family=Dosis|Gugi');

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(45, 48, 57);
    color: rgb(250, 250, 250);
    font-family: 'Gugi', cursive;
}

* {
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(29, 30, 37);
    z-index: 3;
}
  
#navbar a {
    text-decoration: none;
    display: block;
    padding: 25px 30px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#navbar a:hover {
    font-size: 25px;
    padding: 20px 30px;
    cursor: pointer;
}
 
#welcome-section {
    height: 70vh;
    padding-top: 35vh;
    padding-left: 200px;
    text-align: left;
}

#welcome-section h1 {
    padding-top: 15px;
}

#welcome-section h3 {
    font-style: italic;
    color: rgb(175, 180, 192);
}

#welcome-section img {
    height: 150px;
    width: auto;
    float: left;
    display: block;
}

#projects {
    padding-top: 110px;
    display: block;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 5%;
}

.flex-container > div {
    width: 360px;
    position: relative;
    padding: 10px 15px 35px 15px;
    margin-top: 40px;
    margin-bottom: 65px;
}

#projects .table {
    width: 100%;
    display: table;
}

#projects h4 {
    font-size: 20px;
    height: 70px;
    width: 100%;
    color: rgb(250, 250, 250);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#projects img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: solid;
    border-color: rgb(29, 30, 37);
}

#projects p {
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    margin-top: 12px;
    margin-bottom: 8px;
    color: rgb(175, 180, 192);
}

.technology-badges {
    margin-top: 12px;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
 
.badge {
    text-align: center;
    background-color: rgb(163, 107, 221);
    color: white;
    border-radius: 7px;
    font-size: 12px;
    padding: 7px;
    margin: 5px 4px;
}

#contact-section {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 10px;
    height: 60vh;
    margin-top: 70px;
}

.fab, .fas {
    font-size: 90px;
    padding: 0px 25px 50px 25px;
}

.fab:hover, .fas:hover {
    color: rgb(250, 250, 250);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    text-align: center;
    margin-bottom: 13px;
}

footer p a {
    color: rgb(250, 250, 250);
}

footer p a:hover {
    color: pink;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 26px;
}

hr {
    border-style: none;
    width: 60%;
    height: 4px;
    background-image: linear-gradient(70deg,#0ebeff,#ffdd40,#ae63e4,#47cf73);
    margin: 5px auto 20px auto;
}

.color1 {
    color: rgb(84, 188, 249)
}

.color2 {
    color: rgb(250, 220, 96)
}

.color3 {
    color: rgb(104, 187, 116)
}

#welcome-section h3, #projects p {
    font-family: 'Dosis', sans-serif;
}

@media only screen and (max-width: 800px) {
    #navbar a {
        padding: 25px 15px;
        font-size: 20px;
    }

    #welcome-section {
        padding-left: 50px;
    }

    #welcome-section img {
        height: 110px;
    }

    #welcome-section h1 {
        font-size: 20px;
    }

    #welcome-section h3 {
        font-size: 16px;
        padding-right: 20px;
        padding-top: 6px;
    }

    .flex-container > div {
        width: 40%;
    }

    #projects h4 {
        font-size: 18px;
        height: 80px;
    }

    #projects p {
        font-size: 18px;
    }

    #projects img {
        width: 90%;
    }

    .fab, .fas {
        font-size: 70px;
    }

    .contact-icons {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 350px) {
    #navbar a {
        font-size: 16px;
    }

    #navbar a:hover {
        font-size: 20px;
    }

    .flex-container > div {
        width: 500px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #contact-section {
        padding-top: 90px;
        padding-bottom: 10px;
        height: 65vh;
        margin-top: 50px;
    }

    h2 {
        font-size: 22px;
    }
}
